<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.memo.application.MemoMapper">
    <insert id="save">
        INSERT INTO memo
        SET title = #{title},
            contents = #{contents}
    </insert>
    <select id="findAll">
        SELECT id, title, created_at AS createdAt
        FROM memo
        ORDER BY id DESC
    </select>
    <select id="findSearch">
        SELECT id, title, created_at AS createdAt
        FROM memo
        WHERE title LIKE CONCAT('%', #{title}, '%')
        OR contents LIKE CONCAT('%', #{title}, '%')
        ORDER BY id DESC
    </select>
    <select id="findById">
        SELECT id, title, contents, created_at AS createdAt
        FROM memo
        WHERE id = #{id}
    </select>
    <update id="update">
        UPDATE memo
        SET title = #{title},
            contents = #{contents}
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM memo
        WHERE id = #{id}
    </delete>


</mapper>
